<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Archetype Created Web Application</display-name>

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>AddCookiesSessionServlet</servlet-name>
		<servlet-class>com.example.chapter6.AddCookiesSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCookiesSessionServlet</servlet-name>
		<url-pattern>/addCookiesSession.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReplaceCookiesSessionServlet</servlet-name>
		<servlet-class>com.example.chapter6.ReplaceCookiesSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReplaceCookiesSessionServlet</servlet-name>
		<url-pattern>/replaceCookiesSession.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemoveCookiesSessionServlet</servlet-name>
		<servlet-class>com.example.chapter6.RemoveCookiesSessionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveCookiesSessionServlet</servlet-name>
		<url-pattern>/removeCookiesSession.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChangeCookiesSessionServlet</servlet-name>
		<servlet-class>com.example.chapter6.ChangeCookiesSessionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeCookiesSessionServlet</servlet-name>
		<url-pattern>/changeCookiesSession.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MakeImmortalSessionServlet</servlet-name>
		<servlet-class>com.example.chapter6.MakeImmortalSessionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeImmortalSessionServlet</servlet-name>
		<url-pattern>/makeImmortalSession.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InvalidateSessionServlet</servlet-name>
		<servlet-class>com.example.chapter6.InvalidateSessionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvalidateSessionServlet</servlet-name>
		<url-pattern>/invalidateSession.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session Existence Servlet</servlet-name>
		<servlet-class>com.example.chapter6.SessionExistenceServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session Existence Servlet</servlet-name>
		<url-pattern>/sessionExistence.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BeerSelectServlet</servlet-name>
		<servlet-class>com.example.chapter2.servlet.BeerSelect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeerSelectServlet</servlet-name>
		<url-pattern>/SelectionBeer.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Init Param Attributes Servlet</servlet-name>
		<servlet-class>com.example.chapter5.InipParamAttributeReaderServlet
		</servlet-class>
		<init-param>
			<param-name>some Init Servlet Param Name</param-name>
			<param-value>some Init Servlet Param Value</param-value>
		</init-param>
		<init-param>
			<param-name>trulala Name</param-name>
			<param-value>trulala Value</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Init Param Attributes Servlet</servlet-name>
		<url-pattern>/initParametersAttributes.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session Attribute Test Servlet</servlet-name>
		<servlet-class>com.example.chapter5.PutToSessionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session Attribute Test Servlet</servlet-name>
		<url-pattern>/putToSession.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Illegal State Exception</servlet-name>
		<servlet-class>com.example.chapter5.IllegalStateExceptionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Illegal State Exception</servlet-name>
		<url-pattern>/illegalStateExceptionServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Dispatcher Servlet</servlet-name>
		<servlet-class>com.example.chapter5.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dispatcher Servlet</servlet-name>
		<url-pattern>/dispatcherServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Second Dispatcher Servlet</servlet-name>
		<servlet-class>com.example.chapter5.SecondDispatcherServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Second Dispatcher Servlet</servlet-name>
		<url-pattern>/secondDispatcherServlet.do</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>some Init Context Param Name</param-name>
		<param-value>some Init Context Param Value</param-value>
	</context-param>
	<context-param>
		<param-name>dbJNDIName</param-name>
		<param-value>Database JNDI Value</param-value>
	</context-param>

	<listener>
		<listener-class>com.example.chapter5.LogSessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.example.chapter5.ExampleServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.example.chapter6.ExampleHttpSessionAttributeListener</listener-class>
	</listener>
	
	<!-- Chapter 7 -->
	<servlet>
		<servlet-class>com.example.chapter7.AddParametersToJSPServlet</servlet-class>
		<servlet-name>AddParametersToJSPServlet</servlet-name>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddParametersToJSPServlet</servlet-name>
		<url-pattern>/chapter7/addParametersToJSP.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DisplayAttributesJSP</servlet-name>
		<jsp-file>/chapter7jsp/displayAttributes.jsp</jsp-file>
		<init-param>
			<param-name>jspConfigParameter</param-name>
			<param-value>JSP Servlet Config Parameter</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayAttributesJSP</servlet-name>
		<url-pattern>/chapter7jsp/displayAttributes.do</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>jspContextParam</param-name>
		<param-value>JSP Application Context Parameter</param-value>
	</context-param>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/chapter7jsp/ELIgnored/*</url-pattern>
			<scripting-invalid>true</scripting-invalid>
		</jsp-property-group>
		<jsp-property-group>
			<url-pattern>/chapter7jsp/ELIgnored/*</url-pattern>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
		<!-- taglib from Chapter 9 -->
        <taglib>
           <taglib-uri>mapAnotherDummyURI</taglib-uri>
           <taglib-location>/chapter9/taglibDummyTag.tld</taglib-location>
       </taglib>		
	</jsp-config>
	
	<!-- Chapter 8 -->
	<servlet>
	   <servlet-name>PutBeanToRequestServlet</servlet-name>
	   <servlet-class>com.example.chapter8.PutBeanToRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>PutBeanToRequestServlet</servlet-name>
	   <url-pattern>/chapter8/putBeanToRequest.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddParametersToELJSPServlet</servlet-name>
		<servlet-class>com.example.chapter8.AddParametersToELJSPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddParametersToELJSPServlet</servlet-name>
		<url-pattern>/chapter8/AddParametersToELJSP.do</url-pattern>	   
	</servlet-mapping>
	<servlet>
		<servlet-name>displayELAttributesJSP</servlet-name>
		<jsp-file>/chapter8/displayELAttributes.jsp</jsp-file>
		<init-param>
			<param-name>jspConfigInitParameter</param-name>
			<param-value>JSP Servlet EL Config Parameter</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayELAttributesJSP</servlet-name>
		<url-pattern>/chapter8/displayELAttributes.jsp</url-pattern>	   
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddParametersToELBracketsJSPServlet</servlet-name>
		<servlet-class>com.example.chapter8.AddParametersToELBracketsJSPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddParametersToELJSPServlet</servlet-name>
		<url-pattern>/chapter8/AddParametersToELBracketsJSP.do</url-pattern>	   
	</servlet-mapping>
	<servlet>
		<servlet-name>displayELBracketsAttributesJSP</servlet-name>
		<jsp-file>/chapter8/displayELBracketsAttributes.jsp</jsp-file>
		<init-param>
			<param-name>jspConfigInitParameter</param-name>
			<param-value>JSP Servlet EL Brackets Config Parameter</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayELBracketsAttributesJSP</servlet-name>
		<url-pattern>/chapter8/displayELBracketsAttributes.jsp</url-pattern>	   
	</servlet-mapping>
	<!-- Chapter 9 -->
	<servlet>
		<servlet-name>testJSTL</servlet-name>
		<servlet-class>com.example.chapter9.TestJSTLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testJSTL</servlet-name>
		<url-pattern>/chapter9/testJSTL.do</url-pattern>
	</servlet-mapping>
	
	<error-page>
	   <exception-type>java.lang.ArithmeticException</exception-type>
	   <location>/chapter9/arithmeticExceptionErrorPage.jsp</location>
	</error-page>
	
	<error-page>
	   <error-code>404</error-code>
	   <location>/chapter9/pageNotFound.jsp</location>
	</error-page>
	
	<error-page>
	   <exception-type>java.lang.NullPointerException</exception-type>
	   <location>/chapter9/nullPointerErrorPage.jsp</location>
	</error-page>
	<!-- Chapter 11 -->
	
	<servlet>
	   <servlet-name>ExactMapping</servlet-name>
	   <servlet-class>com.example.chapter11.ExactMappingServlet</servlet-class>
	   <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	   <servlet-name>DirectoryMapping</servlet-name>
	   <servlet-class>com.example.chapter11.DirectoryMappingServlet</servlet-class>
	   <load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
	   <servlet-name>ExtensionMapping</servlet-name>
	   <servlet-class>com.example.chapter11.ExtensionMappingServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>ExactMapping</servlet-name>
	   <url-pattern>/chapter11/exactMapping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>DirectoryMapping</servlet-name>
	   <url-pattern>/chapter11/exactMapping/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>ExtensionMapping</servlet-name>
	   <url-pattern>*.mapping</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	   <welcome-file>index.html</welcome-file>
	   <welcome-file>index.jsp</welcome-file>
	   <welcome-file>inanycase.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
	   <servlet-name>RedirectToErrorPage</servlet-name>
	   <servlet-class>com.example.chapter11.RedirectToErrorPageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>RedirectToErrorPage</servlet-name>
	   <url-pattern>/chapter11/redirectToErrorPage.do</url-pattern>
	</servlet-mapping>
	
	<error-page>
	   <error-code>403</error-code>
	   <location>/chapter11/forbidden.html</location>
	</error-page>
	
	<error-page>
	   <exception-type>com.example.chapter11.CaughtTestException</exception-type>
	   <location>/chapter11/caughtTestException.jsp</location>
	</error-page>
<!-- 	
	<ejb-local-ref>
	   <ejb-ref-name>some/EjbLocalName</ejb-ref-name>
	   <ejb-ref-type>Entity</ejb-ref-type>
	   <local-home>some.local.bean.CustomerHome</local-home>
	   <local>some.local.bean.Home</local>
	</ejb-local-ref>
	
	<ejb-ref>
	   <ejb-ref-nam>some/EjbRemoteName</ejb-ref-nam>
	   <ejb-ref-type>Session</ejb-ref-type>
	   <home>some.remote.bean.CustomerHome</home>
	   <remote>some.remote.bean.Home</remote>
	</ejb-ref>
 -->
    <servlet>
        <servlet-name>JNDIEnvEntryOverview</servlet-name>
        <servlet-class>com.example.chapter11.JNDIEnvEntryOverviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JNDIEnvEntryOverview</servlet-name>
        <url-pattern>/chapter11/JNDIEnvEntryOverview.do</url-pattern>
    </servlet-mapping>
    <env-entry>
        <env-entry-name>enventry/someName</env-entry-name>
        <env-entry-type>java.lang.Long</env-entry-type>
        <env-entry-value>7777777777</env-entry-value>
    </env-entry>
    
    <servlet>
        <servlet-name>HourseImage</servlet-name>
        <servlet-class>com.example.chapter11.HourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HourseImage</servlet-name>
        <url-pattern>/chapter11/hourseImage.image</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>image</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>
    
    <servlet>
        <servlet-name>DisplayUploadedFile</servlet-name>
        <servlet-class>com.example.chapter11.DisplayUploadedFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayUploadedFile</servlet-name>
        <url-pattern>/chapter11/DisplayUploadedFile.do</url-pattern>
    </servlet-mapping>
    
    <!-- Chapter 12. Security -->
    
<!--     <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
 -->
 
<!--     <login-config>
        <auth-method>DIGEST</auth-method>
    </login-config> -->
    
<!--     <login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config> -->

    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/chapter12/login.html</form-login-page>
            <form-error-page>/chapter12/loginError.html</form-error-page>
        </form-login-config>
    </login-config>
         
    <security-role><role-name>guest</role-name></security-role>
    <security-role><role-name>member</role-name></security-role>
    <security-role><role-name>admin</role-name></security-role>
    <security-role><role-name>superadmin</role-name></security-role>
    
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Member Access Page</web-resource-name>
			<url-pattern>/chapter12/memberAccessPage.jsp</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
		  <role-name>member</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
	   <web-resource-collection>
           <web-resource-name>Guest And Member Access Page</web-resource-name>
           <url-pattern>/chapter12/guestAccessPage.jsp</url-pattern>
           <url-pattern>/chapter12/memberAccessPage.jsp</url-pattern>
           <http-method>GET</http-method>
	   </web-resource-collection>
       <auth-constraint>
           <role-name>guest</role-name>
           <role-name>member</role-name>
       </auth-constraint>
	</security-constraint>
	
	<security-constraint>
	   <web-resource-collection>
	       <web-resource-name>Admin Access Page</web-resource-name>
	       <url-pattern>/chapter12/adminAccessPage.jsp</url-pattern>
	       <!-- I don't specify http-method, so all http methods will be constrained -->
	   </web-resource-collection>
	   <auth-constraint>
	       <role-name>admin</role-name>
	   </auth-constraint>
	   <user-data-constraint>
	       <transport-guarantee>INTEGRAL</transport-guarantee>
	   </user-data-constraint>
	</security-constraint>
	
	<security-constraint>
	   <web-resource-collection>
	       <web-resource-name>Nobody Access Page</web-resource-name>
	       <url-pattern>/chapter12/nobodyAccessPage.jsp</url-pattern>
	   </web-resource-collection>
	   <auth-constraint/>
	</security-constraint>
	
	<security-constraint>
	   <web-resource-collection>
	       <web-resource-name>Everybody Access Page</web-resource-name>
	       <url-pattern>/chapter12/everybodyAccessPage.jsp</url-pattern>
	   </web-resource-collection>
	       <!-- If the <auth-constraint element is not specified or it is
	       <auth-constraint>
	           <role-name>*</role-name>
	       </auth-constraint> 
	       then everybody can access this page -->
	</security-constraint>
	
	<servlet>
	   <servlet-name>ProgramaticSecurity</servlet-name>
	   <servlet-class>com.example.chapter11.ProgramaticSecurityServlet</servlet-class>
	   <security-role-ref>
	       <role-name>AdminServlet</role-name>
	       <role-link>admin</role-link>
	   </security-role-ref>
	   <security-role-ref>
	       <role-name>MemberServlet</role-name>
	       <role-link>member</role-link>
	   </security-role-ref>
	   <security-role-ref>
	       <role-name>GuestServlet</role-name>
	       <role-link>guest</role-link>
	   </security-role-ref>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>ProgramaticSecurity</servlet-name>
	   <url-pattern>/chapter12/ProgramaticSecurity.do</url-pattern>
	</servlet-mapping>
	
	<!-- Chapter 13 -->
	<filter>
	   <filter-name>InterceptErrorFilter</filter-name>
	   <filter-class>com.example.chapter13.InterceptErrorFilter</filter-class>
	   <init-param>
	       <param-name>initParam</param-name>
	       <param-value>initialized value</param-value>
	   </init-param>
	</filter>
	
	<filter-mapping>
	   <filter-name>InterceptErrorFilter</filter-name>
	   <url-pattern>/chapter11/caughtTestException.jsp</url-pattern>
	   <dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<filter>
	   <filter-name>IncludeFilterFirst</filter-name>
	   <filter-class>com.example.chapter13.IncludeFilterFirst</filter-class>
	</filter>
	
	<filter>
	   <filter-name>IncludeFilterSecond</filter-name>
	   <filter-class>com.example.chapter13.IncludeFilterSecond</filter-class>
	</filter>
	<!-- The order of filters is dictated by <filter-mapping> tag -->
	<filter-mapping>
	   <filter-name>IncludeFilterSecond</filter-name>
	   <url-pattern>/chapter8/header.html</url-pattern>
	   <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
	   <filter-name>IncludeFilterFirst</filter-name>
	   <url-pattern>/chapter8/header.html</url-pattern>
	   <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<filter>
	   <filter-name>CompressionFilter</filter-name>
	   <filter-class>com.example.chapter13.compression.CompressionFilter</filter-class>
	</filter>
	
	<filter-mapping>
	   <filter-name>CompressionFilter</filter-name>
	   <servlet-name>DisplayUploadedFile</servlet-name>
	</filter-mapping>
	
</web-app>